@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">QuickReading</h1><br><br>
    <h1 class="display-4">Witaj w najlepszej aplikacji do nauki szybkiego czytania.</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
