.div-table {
    display: table;
    background-color: gainsboro;
    border: 1px solid black;
    width: auto;
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-col {
    float: left;
    min-width: 30px;
    display: table-column;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    min-height:30px;
}

.div-table-col-guess {
    float: left;
    min-width: 40px;
    display: table-column;
    text-align: center;
    cursor: pointer;
    min-height: 40px;
    font-size:36px;
    color:black!important;
}

.endGame
{
    display:none;
    margin-top:50px;
}

div.rowMakeWord {
    border: 3px black solid;
    width: 30%;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    z-index:10;
    cursor:pointer;
}

    div.rowMakeWord span {
        font-size: 25px;
        z-index:-1;
    }

div.groupMakeWord {
    margin-bottom: 35px;
}

div.answer {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 5px;
    font-family: sans-serif;
}

header {
    background-color: #2CBFA4;
}

.nav-link2 {
    font-size: 19px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff !important;
    padding: 12px 15px;
    bottom: -1px;
    z-index: 1;
    position: relative;
}

.navbar a:hover
{
    background-color:#2E3945;
    border: 0px solid #222930;
    color: #158972!important;
}

.navbar button:hover {
    background-color: #2E3945;
    border: 0px solid #222930;
    color: #158972 !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 19px;
    line-height: 26px;
    font-weight: 400;
    padding: 12px 15px;
    bottom: -3px;
    z-index: 1;
    position: relative;
}

.navbar {
    padding: 1rem 1rem !important;
}

div.gameBody {
    font-family: 'Open Sans', sans-serif;
    background-color: #222930;
    color: #8E9198;
    font-size: 18px;
    line-height: 150%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    /* -moz-osx-font-smoothing: grayscale; */
    text-rendering: optimizeLegibility;
    overflow-x: hidden !important;
}

body {
    background-color: #222930!important;
    color: #8E9198!important;
}

h2.sec {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #D2D3D6;
    letter-spacing: 0.015em;
    margin-top: 0;
    word-wrap: break-word;
    font-size: 44px;
    line-height: 130%;
    margin-bottom: 25px;
    text-align:center;
}

h3.sec {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #D2D3D6;
    letter-spacing: 0.015em;
    margin-top: 0;
    word-wrap: break-word;
    font-size: 30px;
    line-height: 130%;
    margin-bottom: 25px;
    text-align: center;
}

p.sec {
    font-size: 18px;
    line-height: 150%;
}

.stop {
    background-color: #199319;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.stop:hover {
    background-color: #223094;
}