.div-table {
    display: table;
    background-color: gainsboro;
    border: 1px solid black;
    width: auto;
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-col {
    float: left;
    min-width: 30px;
    display: table-column;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    min-height:30px;
}

.div-table-col-guess {
    float: left;
    min-width: 40px;
    display: table-column;
    text-align: center;
    cursor: pointer;
    min-height: 40px;
    font-size:36px;
}

.endGame
{
    display:none;
    margin-top:50px;
}