@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="sec"><span style="color:#2CBFA4;">Find</span> Letter</h2>

<p class="sec">
   <h4> Na ekranie zostanie wyswietlona tabela, wypełniona losowymy literami. Twoim zadaniem jest odnalezienie podanych liter
    w tabeli w jak najkrótszym czasie. Nad tabelą będzie wyświetlony licznik czasu, zaczynający liczenie od zera.
    Zatrzyma się automatycznie gdy znajdziesz wszystkie litery.
    Poniżej timera zostanie wyświetlona szukana litera oraz jej ilość wystąpień.
    <p style="text-align: center">POWODZENIA!</p>
   </h4>
</p>

<h3 class="sec">Wybierz poziom trudności</h3>
<a href="@Url.Action("FindLetterGame","Games", new {tableSize=8})" ><button class="btn btn-primary">Łatwy</button></a>
<a href="@Url.Action("FindLetterGame","Games", new {tableSize=15})" ><button class="btn btn-primary">Średni</button></a>
<a href="@Url.Action("FindLetterGame","Games", new {tableSize=25})" ><button class="btn btn-primary">Wysoki</button></a>