@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

Find Letter

Opis i tak dalej

<h2>Wybierz poziom trudności</h2>
<a href="@Url.Action("FindLetterGame","Games", new {tableSize=8})" ><button class="btn btn-primary">Łatwy</button></a>
<a href="@Url.Action("FindLetterGame","Games", new {tableSize=15})" ><button class="btn btn-primary">Średni</button></a>
<a href="@Url.Action("FindLetterGame","Games", new {tableSize=25})" ><button class="btn btn-primary">Wysoki</button></a>