@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="sec"><span style="color:#2CBFA4;">Guess</span> Letter</h2>

<p class="sec">
    <h4> Na ekranie zostanie wyświetlone białe pole, na którego środku znajduje się czarna kropka. W różnych miejscach danego pola
         wyswietlane będą losowe litery. Twoim zadaniem będzie patrząc się na czarną kropkę "odgadnąć" wyświetlane litery i w oisać je
         poniżej w wyznaczone pole. Nad białym polem będzie wyświetlony licznik czasu, zaczynający liczenie od zera.
         Zatrzyma się automatycznie gdy wpiszesz wszystkie litery.
     <p style="text-align: center">POWODZENIA!</p>
    </h4>

</p>

<h3 class="sec">Wybierz poziom trudności</h3>
<a href="@Url.Action("GuessLetterGame","Games", new {tableSize=9})"><button class="btn btn-primary">Łatwy</button></a>
<a href="@Url.Action("GuessLetterGame","Games", new {tableSize=18})"><button class="btn btn-primary">Średni</button></a>
<a href="@Url.Action("GuessLetterGame","Games", new {tableSize=27})"><button class="btn btn-primary">Wysoki</button></a>