@using QuickReading.Models.Models.Games.MakeWord
@model MakeWordModel
@{
}

<h2 class="sec"><span style="color:#2CBFA4;">Make</span> Word</h2>

<p class="sec">
    <h4>
        Na ekranie zostanie wyświetlonych w postaci listy kilka zbiorów liter, z których należy ułożyć dane słowo. Pod każdym słowem
        będą trzy prostokąty zawierające różne litery. Tylko jeden prostokąt zawiera poprawne litery.
        <p style="text-align: center">POWODZENIA!</p>
    </h4>

</p>

<h3 class="sec">Wybierz poziom trudności</h3>
<a href="@Url.Action("MakeWordGame","Games", new {numberOfWords=3})"><button class="btn btn-primary">Łatwy</button></a>
<a href="@Url.Action("MakeWordGame","Games", new {numberOfWords=5})"><button class="btn btn-primary">Średni</button></a>
<a href="@Url.Action("MakeWordGame","Games", new {numberOfWords=9})"><button class="btn btn-primary">Wysoki</button></a>