@using QuickReading.Models.Models.Games.MakeWord
@model MakeWordModel
@{
}

Make Word

Opis i tak dalej

<h2>Wybierz poziom trudności</h2>
<a href="@Url.Action("MakeWordGame","Games", new {numberOfWords=3})"><button class="btn btn-primary">Łatwy</button></a>
<a href="@Url.Action("MakeWordGame","Games", new {numberOfWords=5})"><button class="btn btn-primary">Średni</button></a>
<a href="@Url.Action("MakeWordGame","Games", new {numberOfWords=9})"><button class="btn btn-primary">Wysoki</button></a>