@using QuickReading.Models.Models.Games.ReadText
@model ReadTextModel
@{
}

ReadText

Opis i tak dalej

<h2>Wybierz poziom trudności</h2>
<a href="@Url.Action("ReadTextGame","Games")"><button class="btn btn-primary">Zacznij</button></a>