@using QuickReading.Models.Models.Games.ReadText
@model ReadTextModel
@{
}

<h2 class="sec"><span style="color:#2CBFA4;">Read</span> Text</h2>

<p class="sec">Opis i tak dalej</p>

<a href="@Url.Action("ReadTextGame","Games")"><button class="btn btn-primary">Zacznij</button></a>