@using QuickReading.Models.Models.Games.ReadText
@model ReadTextModel
@{
}

<h2 class="sec"><span style="color:#2CBFA4;">Read</span> Text</h2>

<p class="sec">
    <h4>
        Na ekranie zostanie wyświetlony fragment tekstu. Twoim zadaniem jest przeczytac go w jak najkrótszym czasie. Gdy skończysz czytać naciśnij
        przycisk STOP, aby zatrzymać stoper. Poniżej ukaże się przyciść Zakończ, kończący grę. Czas wykonania ćwiczenia wpływa na wynik.
        <p style="text-align: center">POWODZENIA!</p>
    </h4>
</p>

<a href="@Url.Action("ReadTextGame","Games")"><button class="btn btn-primary">Zacznij</button></a>