@using QuickReading.Models.Models.Games.ReadText
@model ReadTextModel
@{
}

ReadText

Opis i tak dalej


<a href="@Url.Action("ReadTextGame","Games")"><button class="btn btn-primary">Zacznij</button></a>