@using QuickReading.Utilities.Enums;
@using Newtonsoft.Json
@model QuickReading.Models.Models.Scores.ScoresModel

<h2>Statistics</h2>
<h3 id="labels" hidden>@Model.Labels</h3>
<canvas id="line-chart" width="800" height="450"></canvas>



@section Scripts {
    <script>
        window.onload = function () {

    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: @Html.Raw(ViewBag.Exponate),
    datasets: [{
        data: [@Model.Data],
        label: "@Model.Name",
        borderColor: "#3e95cd",
            fill: false
            }
            ]
        },
    options: {
        title: {
            display: true,
            text:'Your scores'
        }
    }
    });

        }
    </script>
}